* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 24%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    font-size: 15px;
}

.primera-seccion,
.segunda-seccion {
    background-color: var(--Dark-Blue);
    width: 327px;
    height: 364px;
    border-radius: 16px;
    margin: 191px auto 80px;
    padding: 24px;
}

.estrella,
.boton {
    background-color: var(--Medium-Grey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 22px;
}

.titulo-1,
.titulo-2 {
    color: var(--White);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 22px;
}

p {
    color: var(--Light-Grey);
    margin-bottom: 30px;
    letter-spacing: -0.5px;
}

.contenedor-botones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.boton {
    color: var(--Light-Grey);
    border: none;
}

.boton:hover {
    color: var(--White);
    background-color: var(--Light-Grey);
    cursor: pointer;
}

.boton:focus {
    background-color: var(--Orange);
    color: var(--White);
}

.submit {
    width: 100%;
    height: 44px;
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;

}

.submit:hover {
    cursor: pointer;
    color: var(--Orange);
    background-color: var(--White);
}

/* .primera-seccion {
    display: none;
} */


/* Segunda Seccion */

.segunda-seccion {
    display: none;
    flex-direction: column;
    align-items: center;
}

.img-thankyou {
    width: 150px;
    margin-bottom: 24px;

}

.contenedor {
    background-color: var(--Medium-Grey);
    color: var(--Orange);
    border-radius: 50px;
    width: 170px;
    height: 36px;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 30px;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.texto2 {
    text-align: center;
    margin: 10px 0;
}

/* responsivo */

@media (min-width: 600px) {

    .primera-seccion,
    .segunda-seccion {
        width: 412px;
        height: 412px;
        padding: 34px;
    }

    .estrella,
    .boton {
        background-color: var(--Medium-Grey);
        width: 50px;
        height: 50px;

    }

    .titulo-1,
    .titulo-2 {
        font-size: 1.9em;
    }

    .texto,
    .texto2 {
        font-size: 1.2em;
    }

    .contenedor {
        font-size: 1em;
        width: 196px;
    }
}